<table class='table'>
  <thead>
    <tr>
      <th scope='col' class='snapshot-table-cell'>Total</th>
      <th scope='col' class='mute snapshot-table-cell'>Sao Miguel</th>
      <th scope='col' class='mute snapshot-table-cell'>Santa Maria</th>
      <th scope='col' class='mute snapshot-table-cell'>Faial</th>
      <th scope='col' class='mute snapshot-table-cell'>Terceira</th>
      <th scope='col' class='mute snapshot-table-cell'>Pico</th>
      <th scope='col' class='mute snapshot-table-cell'>Sao Jorge</th>
      <th scope='col' class='mute snapshot-table-cell'>Graciosa</th>
      <th scope='col' class='mute snapshot-table-cell'>Flores</th>
      <th scope='col' class='mute snapshot-table-cell'>Corvo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope='row'>{{this.total}}</th>
      <td class='mute'>{{this.saoMiguel}}</td>
      <td class='mute'>{{this.santaMaria}}</td>
      <td class='mute'>{{this.faial}}</td>
      <td class='mute'>{{this.terceira}}</td>
      <td class='mute'>{{this.pico}}</td>
      <td class='mute'>{{this.saoJorge}}</td>
      <td class='mute'>{{this.graciosa}}</td>
      <td class='mute'>{{this.flores}}</td>
      <td class='mute'>{{this.corvo}}</td>
    </tr>
  </tbody>
</table>
