<table>
  <tr>
    <th scope='col'>Total</th>
    <th scope='col'>Sao Miguel</th>
    <th scope='col'>Santa Maria</th>
    <th scope='col'>Faial</th>
    <th scope='col'>Terceira</th>
    <th scope='col'>Pico</th>
    <th scope='col'>Sao Jorge</th>
    <th scope='col'>Graciosa</th>
    <th scope='col'>Flores</th>
    <th scope='col'>Corvo</th>
  </tr>
  <tr>
    <td>{{this.total}}</td>
    <td>{{this.saoMiguel}}</td>
    <td>{{this.santaMaria}}</td>
    <td>{{this.faial}}</td>
    <td>{{this.terceira}}</td>
    <td>{{this.pico}}</td>
    <td>{{this.saoJorge}}</td>
    <td>{{this.graciosa}}</td>
    <td>{{this.flores}}</td>
    <td>{{this.corvo}}</td>
  </tr>
</table>
