<tr>
  <td>{{moment-format @update.date 'Do MMM YYYY'}}</td>
  <td>{{@update.total}}</td>
  <td>{{@update.runningTotal}}</td>
  <td>{{@update.easternGroup}}</td>
  <td>{{@update.easternGroupRunningTotal}}</td>
  <td>{{@update.saoMiguel}}</td>
  <td>{{@update.saoMiguelRunningTotal}}</td>
  <td>{{@update.santaMaria}}</td>
  <td>{{@update.santaMariaRunningTotal}}</td>
  <td>{{@update.centralGroup}}</td>
  <td>{{@update.centralGroupRunningTotal}}</td>
  <td>{{@update.faial}}</td>
  <td>{{@update.faialRunningTotal}}</td>
  <td>{{@update.terceira}}</td>
  <td>{{@update.terceiraRunningTotal}}</td>
  <td>{{@update.pico}}</td>
  <td>{{@update.picoRunningTotal}}</td>
  <td>{{@update.saoJorge}}</td>
  <td>{{@update.saoJorgeRunningTotal}}</td>
  <td>{{@update.graciosa}}</td>
  <td>{{@update.graciosaRunningTotal}}</td>
  <td>{{@update.westernGroup}}</td>
  <td>{{@update.westernGroupRunningTotal}}</td>
  <td>{{@update.flores}}</td>
  <td>{{@update.floresRunningTotal}}</td>
  <td>{{@update.corvo}}</td>
  <td>{{@update.corvoRunningTotal}}</td>
</tr>
