<div class='container'>
  <h1 class='display-3'>{{t 'app_title'}}</h1>
  <p class='lead'>
    {{t 'app_lead.before_link'}}
    <a href='https://www.azores.gov.pt/Portal/pt/entidades/srs/livres/Linha+Saude+Acores.htm'>
      {{t 'app_lead.link'}}
    </a>
    {{t 'app_lead.after_link'}}
  </p>
  <div class='container'>
    <div class='row justify-content-center'>
      <figure class='figure col-md-2'>
        <Map @class={{'map'}} @id={{'western-group'}}
          @geoJson={{westernGroupGeoJson}} @scale={{0.4}}
          @onClick={{action 'clearSelection'}}
          as |feature featureArgs|>
          <CasesMapFeature @feature={{feature}}
            @onClick={{{action 'select'}}}
            @bubbleRadius={{80}}
            @latestUpdate={{latestUpdate}}
            @maxCases={{maxCases}}
            @selected={{selected}}/>
        </Map>
        <figcaption class='figure-caption'>
          {{t 'western_group'}}
        </figcaption>
      </figure>
      <figure class='figure col-md-7'>
        <Map @class={{'map'}} @id={{'central-group'}}
          @geoJson={{centralGroupGeoJson}} @scale={{0.7}}
          @onClick={{action 'clearSelection'}}
          as |feature featureArgs|>
          <CasesMapFeature @feature={{feature}}
            @onClick={{action 'select'}}
            @bubbleRadius={{80}}
            @latestUpdate={{latestUpdate}}
            @maxCases={{maxCases}}
            @selected={{selected}}/>
        </Map>
        <figcaption class='figure-caption'>
          {{t 'central_group'}}
        </figcaption>
      </figure>
      <figure class='figure col-md-3 figure-end'>
        <Map @class={{'map'}} @id={{'eastern-group'}}
          @geoJson={{easternGroupGeoJson}} @scale={{0.7}}
          @onClick={{action 'clearSelection'}}
          as |feature featureArgs|>
          <CasesMapFeature @feature={{feature}}
            @onClick={{action 'select'}}
            @bubbleRadius={{80}}
            @latestUpdate={{latestUpdate}}
            @maxCases={{maxCases}}
            @selected={{selected}}/>
        </Map>
        <figcaption class='figure-caption'>
          {{t 'eastern_group'}}
        </figcaption>
      </figure>
    </div>
  </div>
  {{#if selected}}
    <div class='container'>
      <div class='row'>
        <div class='col-9'>
          <h1 class='display-4'>
            {{t 'cases_on'}}
            <span class={{selected}}>
              {{t selected}}
            </span>: {{selectedTotal}}
          </h1>
        </div>
        <div class='col-3'>
          <h1 class='display-4 text-right'>
            <a class='clear-selection' {{action 'clearSelection'}}>
                {{t 'clear_selection'}}
            </a>
          </h1>
        </div>
      </div>
    </div>
  {{else}}
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1 class='display-4'>
            {{t 'total_cases'}}: {{latestUpdate.runningTotal}}
          </h1>
        </div>
      </div>
    </div>
  {{/if}}
  <div class='container chart-container'>
    <div class='row'>
      <div class='col'>
        <TotalCasesChart
          @data={{model}}
          @class={{'text-muted display-5'}}
          @selected={{selected}}/>
      </div>
      <div class='col'>
        <DailyCasesChart
          @data={{model}}
          @class={{'text-muted display-5'}}
          @selected={{selected}}/>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <GenderChart
          @latestUpdate={{latestUpdate}}
          @class={{'text-muted display-5'}} />
      </div>
      <div class='col'>
      </div>
    </div>
  </div>
  <p class='text-center'>
    <small>
      {{t 'app_foot.before_link'}}
      <a href='https://ko-fi.com/ninjatronic'>
        {{t 'app_foot.link'}}
      </a>.
    </small>
  </p>
</div>
