<div class='container'>
  <h1>{{t 'app_title'}}</h1>
  <p class='lead'>
    {{t 'app_lead.before_link'}}
    <a href='https://www.azores.gov.pt/Portal/pt/entidades/srs/livres/Linha+Saude+Acores.htm'>
      {{t 'app_lead.link'}}
    </a>
    {{t 'app_lead.after_link'}}
  </p>
  <Snapshot @data={{model}} />
  <CasesMap @data={{model}} />
  <TotalCasesChart @data={{model}} />
  <br/>
  <DailyCasesChart @data={{model}} />
  <br />
  <p class='text-center'>
    <small>
      {{t 'app_foot.before_link'}}
      <a href='https://ko-fi.com/ninjatronic'>
        {{t 'app_foot.link'}}
      </a>.
    </small>
  </p>
</div>
