<div class='container'>
  <h1 class='display-3'>{{t 'app_title'}}</h1>
  <p class='lead'>
    {{t 'app_lead.before_link'}}
    <a href='https://www.azores.gov.pt/Portal/pt/entidades/srs/livres/Linha+Saude+Acores.htm'>
      {{t 'app_lead.link'}}
    </a>
    {{t 'app_lead.after_link'}}
  </p>
  <div class='container map-container d-none d-lg-block d-xl-block'>
    <div class='row justify-content-center'>
      <CasesMap @class={{'col-2 map align-self-start'}} @id={{'western-group'}}
        @geoJson={{westernGroupGeoJson}} @scale={{0.4}}
        @latestUpdate={{latestUpdate}} @maxCases={{maxCases}} @bubbleRadius={{120}}/>
      <CasesMap @class={{'col-6 map align-self-center'}} @id={{'central-group'}}
        @geoJson={{centralGroupGeoJson}} @scale={{0.7}}
        @latestUpdate={{latestUpdate}} @maxCases={{maxCases}} @bubbleRadius={{120}}/>
      <CasesMap @class={{'col-2 map align-self-end'}} @id={{'eastern-group'}}
        @geoJson={{easternGroupGeoJson}} @scale={{0.7}}
        @latestUpdate={{latestUpdate}} @bubbleRadius={{120}} @bubbleRadius={{120}}/>
    </div>
  </div>
  <div class='container map-container-small'>
    <div class='row d-lg-none d-xl-none'>
      <CasesMap @class={{'col map'}} @id={{'eastern-group-mobile'}}
        @geoJson={{easternGroupGeoJson}} @scale={{0.7}}
        @latestUpdate={{latestUpdate}} @bubbleRadius={{120}} @bubbleRadius={{80}}/>
    </div>
    <div class='row d-lg-none d-xl-none'>
      <CasesMap @class={{'col map'}} @id={{'central-group-mobile'}}
        @geoJson={{centralGroupGeoJson}} @scale={{0.7}}
        @latestUpdate={{latestUpdate}} @maxCases={{maxCases}} @bubbleRadius={{80}}/>
    </div>
    <div class='row d-lg-none d-xl-none'>
      <CasesMap @class={{'col map'}} @id={{'western-group-mobile'}}
        @geoJson={{westernGroupGeoJson}} @scale={{0.5}}
        @latestUpdate={{latestUpdate}} @bubbleRadius={{120}} @bubbleRadius={{80}}/>
    </div>
  </div>
  <div class='container total-container  d-none d-lg-block d-xl-block'>
    <div class='row'>
      <div class='col'>
        <TotalCasesLabel @class={{'display-4'}} @data={{model}} />
      </div>
    </div>
  </div>
  <div class='container total-container-small d-lg-none d-xl-none'>
    <div class='row'>
      <div class='col'>
        <TotalCasesLabel @class={{'display-4'}} @data={{model}} />
      </div>
    </div>
  </div>
  <div class='container chart-container'>
    <div class='row'>
      <div class='col'>
        <TotalCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
      <div class='col'>
        <DailyCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
    </div>
  </div>
  <p class='text-center'>
    <small>
      {{t 'app_foot.before_link'}}
      <a href='https://ko-fi.com/ninjatronic'>
        {{t 'app_foot.link'}}
      </a>.
    </small>
  </p>
</div>
