<div class='container'>
  <h1 class='display-3'>{{t 'app_title'}}</h1>
  <p class='lead'>
    {{t 'app_lead.before_link'}}
    <a href='https://www.azores.gov.pt/Portal/pt/entidades/srs/livres/Linha+Saude+Acores.htm'>
      {{t 'app_lead.link'}}
    </a>
    {{t 'app_lead.after_link'}}
  </p>
  <div class='container'>
    <div class='row justify-content-center'>
      <figure class='figure col-md-2'>
        <CasesMap @class={{'map'}} @id={{'western-group'}}
          @geoJson={{westernGroupGeoJson}} @scale={{0.4}}
          @latestUpdate={{latestUpdate}} @maxCases={{maxCases}} @bubbleRadius={{120}}/>
        <figcaption class='figure-caption'>
          {{t 'western_group'}}
        </figcaption>
      </figure>
      <figure class='figure col-md-7'>
        <CasesMap @class={{'map'}} @id={{'central-group'}}
          @geoJson={{centralGroupGeoJson}} @scale={{0.7}}
          @latestUpdate={{latestUpdate}} @maxCases={{maxCases}} @bubbleRadius={{120}}/>
        <figcaption class='figure-caption'>
          {{t 'central_group'}}
        </figcaption>
      </figure>
      <figure class='figure col-md-3 figure-end'>
        <CasesMap @class={{'map'}} @id={{'eastern-group'}}
          @geoJson={{easternGroupGeoJson}} @scale={{0.7}}
          @latestUpdate={{latestUpdate}} @bubbleRadius={{120}} @bubbleRadius={{120}}/>
        <figcaption class='figure-caption'>
          {{t 'eastern_group'}}
        </figcaption>
      </figure>
    </div>
  </div>
  <div class='container total-container'>
    <div class='row'>
      <div class='col'>
        <TotalCasesLabel @class={{'display-4'}} @data={{model}} />
      </div>
    </div>
  </div>
  <div class='container chart-container'>
    <div class='row'>
      <div class='col'>
        <TotalCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
      <div class='col'>
        <DailyCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
    </div>
  </div>
  <p class='text-center'>
    <small>
      {{t 'app_foot.before_link'}}
      <a href='https://ko-fi.com/ninjatronic'>
        {{t 'app_foot.link'}}
      </a>.
    </small>
  </p>
</div>
