<div class='container'>
  <h1 class='display-2'>{{t 'app_title'}}</h1>
  <p class='lead'>
    {{t 'app_lead.before_link'}}
    <a href='https://www.azores.gov.pt/Portal/pt/entidades/srs/livres/Linha+Saude+Acores.htm'>
      {{t 'app_lead.link'}}
    </a>
    {{t 'app_lead.after_link'}}
  </p>
  <div class='container map-container'>
    <div class='row'>
      <CasesMap @class={{'col-2 map'}} @id={{'western-group'}}
        @mapKey={{'westernGroup'}} @data={{model}} @scale={{0.5}}/>
      <CasesMap @class={{'col-8 map'}} @id={{'central-group'}}
        @mapKey={{'centralGroup'}} @data={{model}} @scale={{0.7}}/>
      <CasesMap @class={{'col-2 map'}} @id={{'eastern-group'}}
        @mapKey={{'easternGroup'}} @data={{model}} @scale={{0.9}}/>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <TotalCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
      <div class='col'>
        <DailyCasesChart @data={{model}} @class={{'text-muted display-5'}}/>
      </div>
    </div>
  </div>
  <p class='text-center'>
    <small>
      {{t 'app_foot.before_link'}}
      <a href='https://ko-fi.com/ninjatronic'>
        {{t 'app_foot.link'}}
      </a>.
    </small>
  </p>
</div>
